#top {
    position: relative;
    background-color: #64aad1;
    color: white;
    padding: 14px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position: relative;
    background-color: #64aad1;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #d0e3ed;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}







#bienvenido {
    font-size: 12px;
    font-weight: bold; 
}

#login {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#tablaTopLogin {
    width: 100%;
}

#tablaBottomLogin {
    width: 100%;
}

#imagenLogin1 {
    width: 150px;
    height: 150px;
}

#tituloPeaje {
    font-style: 0;
    font-size: 32px;
    font-weight: bold;
}

#imagenLogin2 {
    width: 150px;
    height: 150px;
}
#coche {
    width: 220px;
    height: 150px;
}

#moto {
    width: 200px;
    height: 150px;
}

#camion {
    width: 250px;
    height: 180px;
}

#bus {
    width: 250px;
    height: 170px;
}

#cerrarSesion {
    float: right;
}

#regVe {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#regUs {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
